In [6]:
import pandas as pd
import json

In [9]:

df = pd.read_json("../data/json/sinnoh_pokedex_clean.json")

In [13]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df.head()

   No      Name Type 1    Type 2  Hp  Atk  Def  Sp. Atk  Sp. Def  Spd  Total
0   1   Turtwig  Grass      None  55   68   64       45       55   31    318
1   2    Grotle  Grass      None  75   89   85       55       65   36    405
2   3  Torterra  Grass    Ground  95  109  105       75       85   56    525
3   4  Chimchar   Fire      None  44   58   44       58       44   61    309
4   5  Monferno   Fire  Fighting  64   78   52       78       52   81    405

In [28]:
# 3️⃣ Create empty DataFrame to hold results
top_df = pd.DataFrame(columns=['No', 'Name', 'Value', 'Stat'])
stat_cols = list(range(4, df.shape[1]))  # 4 through last column index
# 4️⃣ Loop through each stat column dynamically
for col in stat_cols:
    stat_name = df.columns[col]
    top10 = df.sort_values(by=df.columns[col], ascending=False).head(10)

    temp = pd.DataFrame({
        'No': top10.iloc[:, 0],
        'Name': top10.iloc[:, 1],
        'Value': top10.iloc[:, col],
        'Stat': stat_name
    })

    top_df = pd.concat([top_df, temp], ignore_index=True)

# 5️⃣ Export to CSV
top_df.to_csv('../data/csv/top_10_pokemon_stats.csv', index=False)